<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
    </head>

    <body>

        {{ form_start(form, {'attr': {'class': 'form'}}) }}
            {{ form_widget(form) }}
            <input type="submit" />
        {{ form_end(form) }}

	<br />

	<div class="client">
	</div>

	<br />

	<div class="server">
	</div>

        {% block javascripts %}
            <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
            <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
            <script src="{{ asset('socket_script/socket_client.js')}}"></script>
        {% endblock %}
    </body>

</html>
