{% extends '::base.html.twig' %}
{% block title %} 404 !!!{% endblock %}
{% block body %}
  <div class="container center">
    <div class="section">
      <h2>404, is coming back !</h2>
      <img src="{{ asset('img/404.jpg')}}" />
    </div>
  </div>
{% endblock %}
