{% extends "::base.html.twig" %}

{% block title %} MemBook {% endblock %}
{% block body %}


<!-- <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a> -->
<div class="section no-pad-bot" id="index-banner">
{% if user.username is defined and not null %}
<div class="section">

<div class="container">
{% for post in posts %}
        {% include('BlogBundle:Post:post_content.html.twig')%}
    {% endfor %}
  </div>
</div>
</div>
{% else %}
<div class="container">
  <br><br>
  <h1 class="header center deep-orange-text">MeMBook</h1>
  <div class="row center">
    <h5 class="header col s12 light">Store and share your memes !!! </h5>
  </div>
  <br><br>
  <div class="row center">
    <a href="{{ path('fos_user_security_login')}}" class="waves-effect waves-light yellow darken-2 btn"><i class="material-icons right">power_settings_new</i>Sign in</a>
    <a href="{{ path('fos_user_registration_register')}}" class="waves-effect waves-light deep-orange darken-2 btn"><i class="material-icons right">input</i>Sign up</a>
  </div>
</div>
</div>
{% endif %}
<br><br>
</div>
{% endblock %}
