
<nav class="blue darken-4" role="navigation">
  <!--   -->
  <div  class="nav-wrapper container">
    {% if user.username is defined and not null %}
    <a id="logo-container" href="#" data-activates="slide-out" class="brand-logo menu-collapse">MeMBook</a>
    {% else %}
    <a id="logo-container" class="brand-logo">MeMBook</a>
    {% endif %}

    <ul id="nav-mobile" class="side-nav">
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
