<div class="row">
  <div class="col s6">
    <div class="chip grey lighten-1">
      <img src="{{ asset('img/fox.jpg')}}" alt="Contact Person">
      {{ post.userpost.username}}
    </div>
  </div>
</div>
<div class="row">
  <div class="col s9 offset-s2">
    <p>
      {{ post.description }}
    </p>
  </div>
  <div class="divider">

  </div>
</div>
