{% extends "::base.html.twig" %}

{% block title %} {{ post.titre }} {% endblock %}

{% block body %}
  <div class="container">
    <div class="section">
    {% include('BlogBundle:Post:post_content.html.twig')%}
    </div>
  </div>
{% endblock %}
