
      <!-- <div class="col s8">

        <h4>Titre super accrocheur!</h4>
      </div>
      <div class="col s4">
      <img src="img/forest.jpg" class="responsive-img" alt="" />
    </div>
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea" length="120"></textarea>
            <label for="textarea1">Message</label>
          </div>
        </div>
      </form>
      <div class="divider">

      </div> -->
      <div class="col s12">
        {% include 'BlogBundle:Post:comment_content.html.twig' %}
    </div>
